<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom" style="margin-left:0px!important" xmlns:th="http://www.thymeleaf.org">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li th:class="${AdminActive != null} ? 'nav-item d-none d-sm-inline-block active':'nav-item d-none d-sm-inline-block'">
        <a href="/admin" class="nav-link">Admin</a>
      </li>
      <li th:class="${CityActive != null} ? 'nav-item d-none d-sm-inline-block active':'nav-item d-none d-sm-inline-block'">
        <a href="/cities" class="nav-link">Cities</a>
      </li>
      <li th:class="${ConfigActive != null} ? 'nav-item d-none d-sm-inline-block active':'nav-item d-none d-sm-inline-block'">
        <a href="/configs" class="nav-link">Config</a>
      </li>
    </ul>
  </nav>