<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>GECKO training | Admin</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta th:replace="fragments/head">
</head>

<body>
	<div th:replace="fragments/languages"></div>
	<div th:replace="fragments/navigation"></div>
	<div class="card">
		<div class="card-header">
			<h3 class="card-title" th:text="#{admin.admin.panel}">Admin panel</h3>
		</div>

		<div class="content-wrapper" style="margin-left: 0px !important">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark" th:text="#{admin.cities}">Cities</h1>
						</div>

					</div>
				</div>
			</div>

			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8">
							<!-- Info boxes -->
							<div class="row" th:if="${not #lists.isEmpty(cityDetails)}">
								<div class="col-12 col-sm-6 col-md-3" th:each="cityDetail : ${cityDetails}">
									<div class="info-box">
										<span class="info-box-icon bg-success elevation-1">
												<i class="fa fa-map-marker"></i>
											</span>

										<div class="info-box-content">
											<span class="info-box-text" th:text="#{admin.city} +':'+ ${cityDetail.city}"></span>
											<span class="info-box-number" th:text="${cityDetail.temperature} != null ? #{admin.temperature} + ': ' + ${cityDetail.temperature} : #{admin.temperature} + ': N/A' "></span>
											<span class="info-box-text" th:text="${cityDetail.lat} != null ? #{admin.lantitude} + ': ' + ${cityDetail.lat} :#{admin.lantitude} + ': N/A'"></span>
											<span class="info-box-text" th:text="${cityDetail.lon}  != null ? #{admin.longitude} + ': ' + ${cityDetail.lon} : #{admin.longitude} + ': N/A'"></span>
										</div>

									</div>

								</div>

								<!-- fix for small devices only -->
								<div class="clearfix hidden-md-up"></div>
							</div>
						</div>
						<div class="col-md-4">

							<a href="/configs/">
								<div th:class="${config} < 1 ? 'info-box mb-3 bg-danger' : (${mapconfig} < 1 ? 'info-box mb-3 bg-danger': (${weatherconfig} < 1 ? 'info-box mb-3 bg-danger':'info-box mb-3 bg-success'))">
									<span class="info-box-icon">
											<i class="fa fa-gear"></i>
										</span>

									<div class="info-box-content">
										<span class="info-box-text" th:text="#{admin.configs}">Configs</span>
										<strong th:text="${config}">2</strong>
										<span>(</span>
										<span th:text="#{admin.map}">Map</span>
										<span>:</span>
										<strong th:text="${mapconfig}"></strong>
										<span>, </span>
										<span th:text="#{admin.weather}">Weather</span>
										<span>:</span>
										<strong th:text="${weatherconfig}"></strong>

										<span>)</span>
									</div>
									<!-- /.info-box-content -->
								</div>
							</a>

							<!-- /.info-box -->
							<a href="/cities/">
								<div th:class="${countofcities} < 4 ? (${countofcities} < 1 ? 'info-box mb-3 bg-danger':'info-box mb-3 bg-warning') : 'info-box mb-3 bg-success'">

									<span class="info-box-icon">
											<i class="fa fa-map-signs"></i>
										</span>

									<div class="info-box-content">
										<span class="info-box-text" th:text="#{admin.cities}">Cities</span>
										<span class="info-box-number" th:text="${countofcities}">2</span>
									</div>

								</div>
							</a>
							<a th:href="${weatherconfig} > 0 ? @{/configs/} : @{/configs/Weather/new}" th:if="${activeWetherConfig}">
									<div th:class="${weatherconfig} > 0 ? 'info-box mb-3 bg-warning' : 'info-box mb-3 bg-danger'">
										<span class="info-box-icon">
											<i class="fa fa-cloud"></i>
										</span>

										<div class="info-box-content">
											<span class="info-box-text" th:text="${weatherconfig} > 0 ? #{admin.weather.unactivate} : #{admin.no.weather.config}">Cities</span>
											<span class="info-box-number" th:text="${weatherconfig}">2</span>
										</div>

									</div>
								</a>
							<a th:href="${mapconfig} > 0 ? @{/configs/} : @{/configs/Map/new}" th:if="${activeMapConfig}">
									<div th:class="${mapconfig} > 0 ? 'info-box mb-3 bg-warning' : 'info-box mb-3 bg-danger'">
										<span class="info-box-icon">
											<i class="fa fa-map-o"></i>
										</span>

										<div class="info-box-content">
											<span class="info-box-text" th:text="${mapconfig} > 0 ? #{admin.maps.unacitave} : #{admin.no.maps.config}">Cities</span>
											<span class="info-box-number" th:text="${mapconfig}">2</span>
										</div>

									</div>
								</a>

						</div>
					</div>

				</div>
			</section>


			<div class="col-12" th:if="${not #lists.isEmpty(logHistory)}">

				<div class="card">
					<div class="card-header">
						<h3 class="card-title" th:text="#{admin.config.list.through.time}">Listo of configs used through time</h3>


					</div>
					<div class="card-body">


						<table class="table table-hover">
							<thead>


								<tr>
									<th th:text="#{admin.config.name}">Api Config</th>
									<th th:text="#{admin.config.id}">Config ID</th>
									<th th:text="#{admin.config.url}">url</th>
									<th th:text="#{admin.config.parametars}">Parametars</th>
									<th th:text="#{admin.config.apikey}">Api Key</th>
									<th th:text="#{admin.config.last.used}">Last used</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="logh : ${logHistory}">
									<td th:text="${logh.apiKey} == '' ? #{apiForm.maps} : #{apiForm.weather}">Other browsers</td>
									<td th:text="${logh.configId}">All others</td>
									<td th:text="${logh.url}">-</td>
									<td th:text="${logh.parametars}">-</td>
									<td th:text="${logh.apiKey}">-</td>
									<td th:text="${#dates.format(logh.lastUsed, 'dd.MM.yyyy HH:mm')}">-</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th th:text="#{admin.config.name}">Api Config</th>
									<th th:text="#{admin.config.id}">Config ID</th>
									<th th:text="#{admin.config.url}">url</th>
									<th th:text="#{admin.config.parametars}">Parametars</th>
									<th th:text="#{admin.config.apikey}">Api Key</th>
									<th th:text="#{admin.config.last.used}">Last used</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>

			</div>

		</div>

	</div>

	<footer class="main-footer" style="margin-left: 0px !important"></footer>

</body>

</html>